public_html/WEB-INF/wsdl/CustomerServiceService_schema1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://crm.testdrive.oracle.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://crm.testdrive.oracle.com/">
  <xsd:complexType name="addCustomerActivity">
    <xsd:sequence>
      <xsd:element name="customerId" type="xsd:int"/>
      <xsd:element name="activityName" type="xsd:string"/>
      <xsd:element name="activityDetail" type="xsd:string"/>
      <xsd:element name="activityDate" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addCustomerActivityResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="addCustomerActivity" type="ns0:addCustomerActivity"/>
  <xsd:element name="addCustomerActivityResponse" type="ns0:addCustomerActivityResponse"/>
</xsd:schema>